<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>

  <h1 style="text-align: center"> <%= Day %>.</h1>

  <ul style="text-align: center; list-style-type: none">
    <li>
      hello
    </li>
    <li>
      <%= newItem %>
    </li>
  </ul>

  <form style="text-align: center" class="" action="/" method="post">
    <input type="text" name="newItem" value="">
    <button type="submit" name="button">add</button>
  </form>
</body>

</html>
