<div class="menubar">

  <form class="menubarForm" action="/" method="post">
    <button class="menubarButtonLogo buttonLook" type="button" name="button" value="home">home</button>

    <div class="menubarButtonDiv ">
        <button class="menubarButton1 buttonLook" type="button" name="button" value="about">about</button>
        <button class="menubarButton2 buttonLook" type="button" name="button" value="work">work</button>
    </div>
  </form>

</div>
