
<div class="menubar">

  <form class="menubarForm" action="/work" method="post">
    <a class="menubarButtonLogo buttonLook" href="/">home</a>

    <div class="menubarButtonDiv ">
      <a class="menubarButton1 buttonLook" href="about">about</a>
      <a class="menubarButton2 buttonLook" href="work">work</a>
    </div>
  </form>

</div>
