
<div class="menubar">

  <form class="menubarForm" action="/work" method="post">
    <button class="menubarButtonLogo buttonLook" type="button" name="button1" value="home">home</button>

    <div class="menubarButtonDiv ">
      <button class="menubarButton1 buttonLook" type="button" name="button2" value="about">about</button>
      <button class="menubarButton2 buttonLook" type="button" name="button3" value="work">work</button>
    </div>
  </form>

</div>
