body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #E4E9FD;
  /* background-image: -webkit-linear-gradient(60deg, #A683E3 50%, #E4E9FD 50%); */
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.menubar {
  background-color: #8468b5;
  overflow: hidden;
}

.menubarButtonLogo {
  float: left;
}

.menubarButton1, .menubarButton2 {
  float: right;
}

.menubarForm {
  margin: 0;
}

.buttonLook {
  border: 0;
  border-color: none;
  -webkit-transition: all 0.7s ease;
  background-color: #8468b5;
  border-radius: 3px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  height:57px;
  width:115px;
}

.buttonLook:hover {
  background-color: #634e88;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

.button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  padding-top: 100px ;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.bottom {
  height: 150px;
  background-color: #9575cc;
}
